.mother{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    margin-left: 250px;
}

.icon{
    border-radius: 50%;
    border-color: #b3b3b3;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 100px;
    display: flex;
    margin-top: 150px;
    position: relative;
    background: white;
    align-items: center;
}

.space{
    margin-left: 350px;
}

.fa-solid{
    margin-left: 36px;
    font-size: 30px;
}

.fa-code{
    margin-left: 31px;
}

.fa-gears{
    margin-left: 31px;
}

.father{
    display: flex;
    justify-content: space-evenly;
}

.first{
    box-sizing: border-box;
    border-color: #b3b3b3;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 300px;
    display: flex;
    margin-top: 200px;
}

.upper{
    padding-top: 50px;
}

.title{
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.button{
    border-style: solid;
    box-sizing: border-box;
    border-width: 1px;
    width: 150px;
    margin-left: 70px;
    margin-top: 50px;
}

.text-button{
    display: flex;
    justify-content: center;
}

.desc{
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes first {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.first {
    animation: first 2s;
}